<?xml version="1.0"?>

<model>
  <name>Camera_ros_down</name>
  <version>1.0</version>

  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Arthur Bucker</name>
    <email>arthur.bucker@hotmail.com</email>
  </author>

  <description>
    A simple gazebo camera with ros plugin
  </description>
</model>
